# macOS system files
.DS_Store
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
.fseventsd
.TemporaryItems

# Editor/project folders
.vscode/
.idea/

# Build folders
node_modules/
dist/
build/

# Environment files
.env
.env.*

# Python / FastAPI backend
backend/venv/
backend/__pycache__/
backend/**/*.pyc

# Python cache
__pycache__/
*.pyc

# Logs
*.log
